/examples/actix_integration.rs
/examples/basic.rs
/extracted_examples/dockerfile/example_105.txt
/extracted_examples/dockerfile/example_216.txt
/extracted_examples/go/example_124.txt
/extracted_examples/go/example_257.txt
/extracted_examples/go/example_258.txt
/extracted_examples/javascript/example_256.txt
/extracted_examples/json/example_120.txt
/extracted_examples/json/example_121.txt
/extracted_examples/json/example_160.txt
/extracted_examples/markdown/example_116.txt
/extracted_examples/markdown/example_125.txt
/extracted_examples/markdown/example_134.txt
/extracted_examples/markdown/example_135.txt
/extracted_examples/markdown/example_157.txt
/extracted_examples/markdown/example_177.txt
/extracted_examples/markdown/example_196.txt
/extracted_examples/markdown/example_214.txt
/extracted_examples/markdown/example_232.txt
/extracted_examples/markdown/example_284.txt
/extracted_examples/markdown/example_285.txt
/extracted_examples/markdown/example_286.txt
/extracted_examples/markdown/example_323.txt
/extracted_examples/markdown/example_328.txt
/extracted_examples/markdown/example_333.txt
/extracted_examples/markdown/example_336.txt
/extracted_examples/plaintext/example_301.txt
/extracted_examples/promql/example_129.txt
/extracted_examples/promql/example_178.txt
/extracted_examples/promql/example_181.txt
/extracted_examples/promql/example_182.txt
/extracted_examples/promql/example_197.txt
/extracted_examples/promql/example_198.txt
/extracted_examples/promql/example_211.txt
/extracted_examples/protobuf/example_028.txt
/extracted_examples/protobuf/example_334.txt
/extracted_examples/python/example_003.py
/extracted_examples/python/example_005.py
/extracted_examples/python/example_062.py
/extracted_examples/python/example_063.py
/extracted_examples/python/example_064.py
/extracted_examples/python/example_066.py
/extracted_examples/python/example_067.py
/extracted_examples/python/example_068.py
/extracted_examples/python/example_069.py
/extracted_examples/python/example_070.py
/extracted_examples/python/example_071.py
/extracted_examples/python/example_072.py
/extracted_examples/python/example_073.py
/extracted_examples/python/example_075.py
/extracted_examples/python/example_076.py
/extracted_examples/python/example_183.py
/extracted_examples/python/example_185.py
/extracted_examples/python/example_202.py
/extracted_examples/python/example_207.py
/extracted_examples/python/example_208.py
/extracted_examples/python/example_209.py
/extracted_examples/python/example_221.py
/extracted_examples/python/example_224.py
/extracted_examples/python/example_234.py
/extracted_examples/python/example_235.py
/extracted_examples/python/example_254.py
/extracted_examples/python/example_302.py
/extracted_examples/python/example_308.py
/extracted_examples/python/example_309.py
/extracted_examples/python/example_329.py
/extracted_examples/rust/example_001.rs
/extracted_examples/rust/example_002.rs
/extracted_examples/rust/example_004.rs
/extracted_examples/rust/example_006.rs
/extracted_examples/rust/example_007.rs
/extracted_examples/rust/example_038.rs
/extracted_examples/rust/example_039.rs
/extracted_examples/rust/example_040.rs
/extracted_examples/rust/example_041.rs
/extracted_examples/rust/example_042.rs
/extracted_examples/rust/example_043.rs
/extracted_examples/rust/example_044.rs
/extracted_examples/rust/example_045.rs
/extracted_examples/rust/example_047.rs
/extracted_examples/rust/example_048.rs
/extracted_examples/rust/example_049.rs
/extracted_examples/rust/example_050.rs
/extracted_examples/rust/example_052.rs
/extracted_examples/rust/example_053.rs
/extracted_examples/rust/example_081.rs
/extracted_examples/rust/example_084.rs
/extracted_examples/rust/example_085.rs
/extracted_examples/rust/example_086.rs
/extracted_examples/rust/example_200.rs
/extracted_examples/rust/example_220.rs
/extracted_examples/rust/example_222.rs
/extracted_examples/rust/example_223.rs
/extracted_examples/rust/example_230.rs
/extracted_examples/rust/example_233.rs
/extracted_examples/rust/example_310.rs
/extracted_examples/rust/example_311.rs
/extracted_examples/sql/example_186.txt
/extracted_examples/sql/example_187.txt
/extracted_examples/sql/example_188.txt
/extracted_examples/toml/example_303.txt
/extracted_examples/toml/example_304.txt
/extracted_examples/toml/example_305.txt
/extracted_examples/toml/example_306.txt
/extracted_examples/typescript/example_255.txt
/extracted_examples/yaml/example_008.yaml
/extracted_examples/yaml/example_054.yaml
/extracted_examples/yaml/example_055.yaml
/extracted_examples/yaml/example_056.yaml
/extracted_examples/yaml/example_210.yaml
/extracted_examples/yaml/example_236.yaml
/extracted_examples/yaml/example_237.yaml
/extracted_examples/yaml/example_238.yaml
/extracted_examples/yaml/example_239.yaml
/extracted_examples/yaml/example_240.yaml
/extracted_examples/yaml/example_241.yaml
/extracted_examples/yaml/example_242.yaml
/extracted_examples/yaml/example_243.yaml
/extracted_examples/yaml/example_244.yaml
/extracted_examples/yaml/example_245.yaml
/extracted_examples/yaml/example_246.yaml
/extracted_examples/yaml/example_248.yaml
/extracted_examples/yaml/example_250.yaml
/extracted_examples/yaml/example_251.yaml
/extracted_examples/yaml/example_252.yaml
/extracted_examples/yaml/example_264.yaml
/extracted_examples/yaml/example_315.yaml
/extracted_examples/yaml/example_316.yaml
/extracted_examples/yaml/example_322.yaml
/docs/tarefasRealizada/
